/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Color Scheme */
:root {
  --primary-color: #0056b3;
  --secondary-color: #1e84ff;
  --dark-color: #181a1b;
  --black-color: #000;
  --text-color: #e8e6e3;
  --link-color: #fff;
}
.primary {
  color: var(--primary-color);
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  background: var(--dark-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Custom Settings Repeatable Fur Multiple Components*/
h1,
h2,
h3 {
}

.container {
  /* min-height: 100vh; */
  max-width: 1100px;
  margin: auto;
}

/* Css Framework Utils Classes */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.border {
  border: solid;
}

/* Forms */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Buttons & Colors */
.btn-primary {
  background-color: #181a1b;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-primary:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
  opacity: 0.9;
}
