.resultsSection {
  padding: 20px 50px;
  transition: opacity 2s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns with equal width */
  gap: 20px; /* Optional: spacing between columns */
  align-items: start;
  justify-items: center;
}

.heading {
  /* color: var(--primary-color); */
  margin-top: 12px;
}
