/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  background-color: var(--background-color); /* Use theme variable */
  color: var(--text-color); /* Use theme variable */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Color Scheme */
:root {
  /* Default theme (dark mode) */
  --primary-color: #0056b3;
  --secondary-color: #1e84ff;
  --dark-color: #181a1b;
  --black-color: #000;
  --text-color: #e8e6e3;
  --link-color: #fff;
  --background-color: var(--dark-color); /* Default to dark background */
}

/* Light theme overrides */
body[data-theme='light'] {
  --primary-color: #1e84ff; /* Modify primary color for light theme if needed */
  --secondary-color: #0056b3; /* Modify secondary color for light theme */
  --dark-color: #ffffff;
  --black-color: #000000;
  --text-color: #000000;
  --link-color: #1e84ff;
  --background-color: #ffffff; /* Light background color */
}

/* Dark theme overrides */
body[data-theme='dark'] {
  --primary-color: #1e84ff;
  --secondary-color: #0056b3;
  --dark-color: #121212;
  --black-color: #000000;
  --text-color: #f5f5f5;
  --link-color: #f5f5f5;
  --background-color: #121212; /* Dark background color */
}

.primary {
  color: var(--primary-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Css Framework Utils Classes */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
.border {
  border: none;
}

/* Forms */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
