.downloadSection {
  position: relative;
  margin: 0 20px;
}

/* 
button.download {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.download:hover {
  background-color: #003d80;
}
 */

button {
  display: inline-block;
  margin: 10px 0;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btnPrimary:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
  opacity: 0.9;
}
.ready {
  background-color: var(--primary-color);
  color: #fff;
}

.error-message {
  position: absolute;
  top: 0;
  left: 0;
  /* Adjust this value to position the error message appropriately */
  margin-top: -20px;
  color: red;
}
