.downloadSection {
  /* margin: 0 20px; */
  /* display: block; */
  display: flex;
  flex-direction: column;
}
.downloadButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  /* transition: background-color 0.3s ease; */
  /* transition: all 0.3s ease-in-out; */
}
.downloadButton:hover {
  filter: brightness(1.2);
}

[data-theme='dark'] .ready {
  /* transition: box-shadow 2s ease-in-out; */
  /* transform: scale(1.05); */
  animation: glow 2s ease-in-out forwards;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 0px transparent;
  }
  20% {
    /* box-shadow: 0px 30px 30px #ffdd00; */
    box-shadow: 0px 15px 21px rgba(255, 221, 0, 0.5); /* Opacity works only on rgba :( */
  }
  100% {
    box-shadow: 0px 0px 0px transparent;
  }
}
.errorMessage {
  color: red;
  font-size: 14px;
}
